In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql ibm_db_sa://pmr22361:p78nd8gzgvphc-cq@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: pmr22361@BLUDB'

In [110]:
%sql select count(*) as  total_number_of_crimes from CHICAGO_CRIME_DATA

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('534'),)]

In [113]:
%sql select DISTINCT("Column_5") AS gas_station_crimes from CHICAGO_CRIME_DATA where "Column_7" = 'GAS STATION' # Column names wasn't uploaded

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In [120]:
%sql select name_of_school, healthy_school_certified from chicago_public_schools where healthy_school_certified = 'Yes' AND community_area_number between 10 and 15

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 'Yes')]

In [6]:
%sql select name_of_school, healthy_school_certified from chicago_public_schools where healthy_school_certified = 'Yes' AND community_area_number between 10 and 15

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 'Yes')]

In [7]:
%sql select community_area_name, AVG(college_enrollment) AS average_college_enrollment from CHICAGO_PUBLIC_SCHOOLS group by community_area_name order by average_college_enrollment desc limit 5

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

In [8]:
%sql select  community_area_name from CHICAGO_PUBLIC_SCHOOLS where safety_score = (select MIN(safety_score) from  CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

In [10]:
%sql select  per_capita_income from CENSUS_DATA where community_area_number= (select community_area_number from CHICAGO_PUBLIC_SCHOOLS where safety_score = 1)

 * ibm_db_sa://pmr22361:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785,)]